* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(38, 50, 56);
  color: #fff;
}
.display {
  font-family: bpdotsregular;
  background-color: #000;
  width: 350px;
  color: orange;
  height: 31px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}
.bus {
  display: flex;
  position: relative;
}
.linea {
  width: 40px;
}
.destino {
  flex-grow: 1;
}
.tiempo {
  width: 77px;
}
.contenedor {
  max-width: 800px;
  margin: 0 auto;
}
.cabecera {
  text-align: center;
}
.display {
  margin: 0 auto;
}
.forms {
  text-align: center;
  margin-top: 100px;
}
.forms form {
  margin-bottom: 20px;
}
label {
  margin-right: 10px;
}
input, select, button {
  height: 30px;
  line-height: 30px;
  border: none;
}
input {
  background: #fff;
  margin-right: 10px;
}
select, button {
  background-color: rgb(107, 189, 91);
  color: #fff;
}
